flows.json
[{"id":"93fef47a.5c20b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dbeb85e1.2cd338","type":"function","z":"93fef47a.5c20b","name":"PreToken","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"skin\",msg.payload.skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"d34lxZu3-o4UcT9lZ2HPTVYQ3Ev8M1QthG9ZKg-JnFT-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["19086c1.3108694"]]},{"id":"19086c1.3108694","type":"http request","z":"93fef47a.5c20b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":579,"y":368.9999952316284,"wires":[["c7b945a5.5b361"]]},{"id":"34fc776f.81024","type":"inject","z":"93fef47a.5c20b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":225.5,"y":293.99999809265137,"wires":[["dbeb85e1.2cd338"]]},{"id":"9384fac7.872de","type":"debug","z":"93fef47a.5c20b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":140,"wires":[]},{"id":"c7b945a5.5b361","type":"function","z":"93fef47a.5c20b","name":"Pre Prediction","func":"var preg = global.get('preg')\nvar plas = global.get('plas')\nvar pres = global.get('pres')\nvar skin = global.get('skin')\nvar test = global.get('test')\nvar mass = global.get('mass')\nvar pedi = global.get('pedi')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"e642fb3a-3614-4eb7-8cc7-40524503ceb8\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"],\"values\": [[preg, plas, pres, skin, test, mass, pedi, age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":776.0000076293945,"y":331.9999990463257,"wires":[["dde9b5bf.dac79"]]},{"id":"dde9b5bf.dac79","type":"http request","z":"93fef47a.5c20b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/296941d7-43e4-4c37-9ef4-36e90fec1e3a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":869.5000076293945,"y":275.9999990463257,"wires":[["85ece2e7.43d238","9384fac7.872de"]]},{"id":"6b48a77.bef78d8","type":"ui_form","z":"93fef47a.5c20b","name":"","label":"","group":"154e0bdd.d2b304","order":1,"width":0,"height":0,"options":[{"label":"Pregnant","value":"preg","type":"number","required":true,"rows":null},{"label":"Plasma","value":"plas","type":"number","required":true,"rows":null},{"label":"Posterior reversible encephalopathy syndrome","value":"pres","type":"number","required":true,"rows":null},{"label":"Skin","value":"skin","type":"number","required":true,"rows":null},{"label":"Test","value":"test","type":"number","required":true,"rows":null},{"label":"Mass","value":"mass","type":"number","required":true,"rows":null},{"label":"Pediatrics","value":"pedi","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":171,"y":422.9999952316284,"wires":[["dbeb85e1.2cd338"]]},{"id":"4948a632.e9fd18","type":"ui_text","z":"93fef47a.5c20b","group":"154e0bdd.d2b304","order":2,"width":0,"height":0,"name":"","label":"Probability of having Diabetes","format":"{{msg.payload}}","layout":"row-spread","x":977.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"85ece2e7.43d238","type":"function","z":"93fef47a.5c20b","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":729.6000366210938,"y":171.60000133514404,"wires":[["4948a632.e9fd18"]]},{"id":"154e0bdd.d2b304","type":"ui_group","z":"","name":"Default","tab":"21076d89.19388a","order":1,"disp":true,"width":"6","collapse":false},{"id":"21076d89.19388a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]